body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(126, 18, 36);
    color: antiquewhite;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 30px;
}

nav {
    background-color: rgb(119, 21, 18);
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: antiquewhite;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background-color: gold;
    color: black;
}

main {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 35px;
}

img {
    width: 400px;
    max-width: 100;
    height: auto;
    border-radius: 10px;
}

section {
    margin-bottom: 50px;
}


footer {
    background: linear-gradient(to right, #000000, #b30000);
    text-align: center;
    padding: 10px;
    margin: 0;
}

footer img{
    width: 150px;
    height: 80px;
    object-fit: cover;
    display: block;
    margin: 0% auto;
    
    
}

.pagina{
    text-align: center;
    padding:30px;
    color: white;
}
